@import "./settings.scss";
@import "./header.scss";
@import "./landingPage.scss";
@import "./services.scss";
@import "./footer.scss";
html,
body {
  margin: 0;
  padding: 0;
  font-family: $mainFont;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

h2 {
  font-size: 95px;
  margin: 5px;
  text-align: center;
}

h3 {
  font-size: 38px;
  margin: 5px;
  font-family: $italicFont;
  text-align: center;
  width: 100%;
}
a {
  text-decoration: none;
  color: black;
  transition: 0.3s ease-in-out;
  position: relative;
}
.section {
  margin-top: 25px;
}
.small-container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.container-flex {
  display: flex;
  height: 100%;
}

.link_button {
  color: $white;
  font-size: 18px;
  border: 3px solid $white;
  padding: 10px 30px;
}

.section_title,
.section_title_italic {
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-family: $italicFont;
}

.section_title {
  text-transform: uppercase;
  font-family: $mainFont;
  font-weight: 600;
  position: relative;
}

.section_title::after {
  position: absolute;
  content: "";
  background-color: red;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 60px;
}
